*{
    margin:0px;
    padding: 0px;
}
/* BOJA ZA TEKSTOVE!    color:#646464; */
a{
	text-decoration:none !important;
	color:#252525;
}
.boja{
    color:#646464;
}
ul{
    list-style-type: none;
}
#sendvic{
    display:none;
}
#srkivenMeni{
    display:none;
}
.classPrikazi{
    display:block;
}
#sakrij{
    padding-top:33px ;
}
#meni li a:hover, #meni .aktivan a {
	color: #DAA520 !important;
}
#slajder{
    padding: 0px !important;
}
#rgbaMicheline{
    text-align: center;
    position: absolute;
    width:50%;
    height:100%;
    background-color: rgba(255,255,255,0.3);
    left:0%;
    top:0%;
}
#michelinP{
    width:500px;
    position: absolute;
    top:33%;
    right: 10%;
}
span i{
    font-size: 23px;
}
.selectStyle{
    width:19%;
    margin-bottom: 10px;
    
}
#posalji{
    margin: 2%;
}
.item-logo{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 2;
    display: block;
}
.item-logo img{
    height: 45px;
}
.product-item{
    min-height: 140px;
    height: auto;
}
.product-item img{
    height: 140px;
    
    position: center;
    position: absolute;
    bottom:46%;
    z-index: -1;
}
.item-title{
    border-top:3px solid #000;
    height: 115px;
    background-color: #e3e7ea;;
}
.item-desc{
    background-color: #eff3f6;
}
.brend{
    width: 250px;
}
.hide{
    display:none !important;
}
.showInfo{
    display: block !important;
}
#loc{
    padding:0px !important;
}

.yellowHeight{
    height: 2vh;
}
.search{
    width:25%;
    background-color: #c80000;
    font-weight: normal;
}
.search button{
    background-color: #c80000;
    border: 0px solid #c80000;
    color:#fff;
}
.bezbednaGuma img{
    /* border:3px solid #DAA520; */
    border-radius: 1%;
    width: 470px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scrollToTop {
    font-size: 40px;
    color: #000;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
}
#prikaz{
    display:none;
    width:150px;
    height: 70px;
    border-radius: 1px solid #efefef;
    border-radius: 3px;
    background-color: #eff3f6;
    
}
#poCeni{
    display: none;
    color: #000;
}

.imgKorpa{
    width: 150px;
}

#formular input[type=text]{
	width:50%;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
    border:1px solid #DAA520;
    border-radius: 3px;
    font-weight: lighter;
    margin-top: 30px;

}
#formular textarea{
	margin-top:30px;
    width:50%;
    border:1px solid #DAA520;
    border-radius: 3px;
    font-weight: lighter;
}
#formular input[type=button]{
    width:20%;
    border:1px solid #DAA520;
    border-radius: 3px;
    color: #DAA520;
}
.pomeri{
	display:flex;
    align-items:start;
    
}
#kontaktImg{
    background-image: url("../images/prodaja.jpg");
    min-height: 400px;
    background-size: cover;
    padding: 0px !important;
}
.lokUredi {
    width: 500px;
    height: 150px;
    border: 1px solid #252525;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(255,255,255,.5);
    
}
.dodajUkorpu{
    border: 1px solid #DAA520;
    border-radius: 3px;
    padding: 0px 5px;
    color: #DAA520;
}
#kupi{
    width:20%;
    border: 1px solid #DAA520;
    border-radius: 3px;
    color: #DAA520;
    margin: 10px;
}
#praznaKorpa{
    width: 100%;
    height: 500px;
    background-color: rgba(255,255,255,.5);
}
#onamaBG{
    position: absolute;
    top:0%;
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
}
#onamaBGText{
    position: relative;
    top:40%;
    left:25%;
    font-weight: lighter;
    font-style: italic;
}   
.adminPanelUredi,.loginRegistracija{
    padding: 3px;
    border:1px solid #DAA520;
    border-radius: 3px;
}
.alert {
    padding: 20px;
    background-color: #28a745;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999999;
  }
 #popuni{
     padding: 100px;
     
 } 
  .zatvori {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .zatvori:hover {
    color: black;
  }
@media screen and (max-width:1100px){
    #michelinP{
        right: 0%;
    }
    #michelinP h1{
        font-size: 30px;
    }
    #onamaBGText h1{
        font-size: 30px;
    }
    #onamaBGText h2{
        font-size: 25px;
    }
}
@media screen and (max-width:900px){
    #michelinP{
        width:100%;
    }
    #michelinP h1{
        font-size: 25px;
    }
    #onamaBGText h1{
        font-size: 25px;
    }
    #onamaBGText h2{
        font-size: 20px;
    }
}
@media screen and (max-width:768px){
    #pretragaForme{
        font-size:12px;
    }
    #pretragaForme select{
        width:70%;
    }
    #infoMail{
        display: none;
    }
    #info{
        padding: 5px;
    }
}
@media screen and (min-width:700px){
    #prikazi{display: none;}
}
@media screen and (max-width: 700px){
    #logo img{
        width: 100px;
    }
    #sakrij{
        display:none;
    }
    #sendvic{
        display:inline;
    }
    #prikazi ul li{
        padding-left:10px;
    }
    #prikazi ul li a:hover{
        color: #DAA520;
    }
    .bezbednaGuma img{
        width:400px;
    }
    h2{
        font-size: 25px;
    }
    #bezbednost p{
        font-size: 15px;
    }
    #onamaBGText h1{
        font-size: 15px;
    }
    #onamaBGText h2{
        font-size: 10px;
    }
    #onamaInfo h2{
        font-size:20px;
    }
    #onamaInfo p{
        font-size:15px;
    }
    #info i,p{
        font-size:12px;
    }
}
@media screen and (max-width: 583px){
    #michelinP h1{
        font-size: 20px;
    }
    #michelinP p{
        font-size:15px;
    }
    .bezbednaGuma img{
        width:100%;
    }
}
@media screen and (max-width: 500px){
    #michelinP h1{
        font-size: 15px;
    }
    #michelinP p{
        font-size:10px;
    }
    #bezbednost h2{
        font-size: 20px;
    }
    #bezbednost p{
        font-size:15px
    }
    #info p{
        font-size:15px;
    }
    #loginNaslov h1{
        font-size:25px
    }
    #loginNaslov h2{
        font-size:20px;
    }
    #pretragaForme{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 372px){
    #michelinP h1{
        font-size: 10px;
    }
    #michelinP p{
        font-size:5px;
    }
    .bezbednaGuma img{
        width:200px;
    }
    #info p{
        font-size:10px;
    }
    #marke img{
        width:200px;
    }
}



